<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%=recipe.name%></title>
  </head>
  <body>
    <h1><%=recipe.name%></h1>
    <img src="<%=recipe.img%>" />
    <ul>
      <% console.log(recipe.ingredients.length) %> <% for(i = 0; i <
      recipe.ingredients.length; i++) { %> <% console.log(recipe.ingredients[i])
      %>
      <li><%= recipe.ingredients[i] %></li>
      <% } %>
    </ul>
    <ol>
      <% recipe.directions.forEach((step) => { %>
      <li>
        <%= step %>
      </li>
      <% }) %>
    </ol>
    <% recipe.tags.forEach((tag) => { %>
    <span><%= tag%> , </span>
    <% }) %>

    <h4><a href="/recipes/<%=recipe.id%>/edit">Edit This Recipe</a></h4>

    <form action="/recipes/<%=recipe.id%>?_method=DELETE" method="POST">
      <input type="submit" value="Remove Recipe" />
    </form>
    <h3><a href="/">Back to Index</a></h3>
  </body>
</html>
