<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%=recipe.name%></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
      <% include ../partials/header.ejs %>
    <div class="container">
      <div class="section container">
      <h1><%=recipe.name%></h1>
      <img width="500px" src="<%=recipe.img%>" />
      </div>

      <div class="section" id="ingredients">
      <div class="container">
        <div class="row">
        <h5 class="section-header col s12 offset-s4">Ingredients</h5>
          <div class="col s6 list">
              <ul>
        <% for(i = 0; i < recipe.ingredients.length/2; i++) { %>
        <li><%= recipe.ingredients[i] %></li>
        <% } %>
              </ul>
          </div>
          <div class="col s6 list">
              <ul>
        <% for(i = Math.ceil(recipe.ingredients.length/2); i <
        recipe.ingredients.length; i++) { %>
        <li><%= recipe.ingredients[i] %></li>
        <% } %>
              </ul>
          </div>
        </div>
      </div>
      </div>
    </ul>
    <div class="divider"></div>
    <h5 class="section-header">Directions:</h5>
      <ol class="list flow-text">
        <% recipe.steps.forEach((step) => { %>
        <li>
          <%= step %>
        </li>
        <% }) %>
      </ol>
      <% recipe.tags.forEach((tag) => { %>
      <span class="chip"><a href="/recipes/search/<%=tag%>"><%= tag%></a> </span>
      <% }) %>
    </div>
<% if(currentUser && currentUser.username === 'Nick') { %>
    <h4><a href="/recipes/<%=recipe.id%>/edit">Edit This Recipe</a></h4>

    <form action="/recipes/<%=recipe.id%>?_method=DELETE" method="POST">
      <input type="submit" value="Remove Recipe" />
    </form>
    <% } %>
    <h3><a href="/recipes">Back to Index</a></h3>
  </body>
</html>
